{% include "header.html" %}
<div id="login_layout">
	<div id="login_sublayout">
		<img src="/static/images/strip.png" alt="strip">
		{% if error_message_list %}
			{% for error_message in error_message_list %}
				<div class="error_message">{{error_message}}</div>
			{% endfor %}
		{% endif %}
		<form method="post" action="" class="login_signin">
			{% csrf_token %}
			<label>Collection Name</label>{{ form.name }}<br />
			{{ form.name.errors }}
			<label>Collection Category</label>{{ form.category }}
			{{ form.category.errors }}
			<br />
			<div class="last_singin">
				<input type="submit" value="Save Collection" class="submit_button">
            </div>
		</form>
	</div>
</div> 

{% include "footer.html" %}
