			<ul id="nav">
			    <li><a href="#">Add +</a>
			        <ul>
			            <li><a href="#" class="inactive">Add Pin</a></li>
			            <li><a href="#" class="inactive">Upload Pin</a></li>
			            <li><a href="/collection_create/">Create Collection</a></li>
			        </ul>
			        <div class="clear"></div>
			    </li>
			    <li><a href="#" class="selected">Help </a>
			        <ul>
			            <li><a href="#" class="inactive">Pin Button</a></li>
			            <li><a href="#" class="inactive">Copyright</a></li>
			            <li><a href="#" class="inactive">About Us</a></li>
			        </ul>
			        <div class="clear"></div>
			    </li>
			    <li><a href="#">Friends</a>
				    <ul>
				        <li><a href="#" class="inactive">Invite Friends</a></li>
				        <li><a href="#" class="inactive">Find Friends</a></li>
				    </ul>         
			        <div class="clear"></div>
			    </li>
			    <li><a href="#" class="username">{{request.session.user.username}}</a>
				    <ul>
				        <li><a href="/collection_list/">Collections</a></li>
				        <li><a href="/collection_pin_list/">Pins</a></li>
				        <li><a href="#" class="inactive">Likes</a></li>
				        <li><a href="/settings/">Settings</a></li>
				        <li><a href="/logout/">Log out</a></li>
				    </ul>         
			        <div class="clear"></div>
			    </li>
			</ul>
			<div class="clear"></div>