{% include "header.html" %}
		<div id="wrapper">
			<div id="column_content">
				<div class="content_photo clearfix">
					<div class="post clearfix">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/1.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> aaaaaaaipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/2.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales.
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit. 
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/3.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> 
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris
							   accumsan sodales. Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra 
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p>
								em ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/3.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> aaaaaaaipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								sellus urna quam, consequat at elementum et, varius ut leo. Aenean mollis laoreet justo.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/1.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> uspendisse potenti. Vestibulum quis erat et mi pellentesque feugiat vitae ut ligula. Donec eu metus et turpis tristique 
								condimentum. Aenean porta nibh eget magna blandit hendrerit. Suspendisse facilisis congue imperdiet.sellus urna quam, consequat at elementum et, varius ut leo. Aenean mollis laoreet justo.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/2.jpg" width="200px" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> 
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris
							   accumsan sodales. Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra 
							   quis consequat ipsum hendrerit. Suspendisse potenti. Vestibulum quis erat et mi pellentesque feugiat
							   vitae ut ligula. Donec eu metus et turpis tristique condimentum. Aenean porta nibh eget magna blandit
							   hendrerit. Suspendisse facilisis congue imperdiet.Phasellus urna quam, consequat at elementum et, varius
							   leo. Aenean mollis laoreet justo ipsum dolor sit amet, consectetur adipiscing elit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> 
								facilisis congue imperdiet. Phasellus urna quam, consequat at elementum et, varius ut leo. Aenean mollis 
								laoreet justo.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> aaaaaaaipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
								 Suspendisse potenti. Vestibulum quis erat et mi pellentesque feugiat vitae ut ligula. Donec eu metus et turpis 
								 tristique condimentum. Aenean porta nibh eget magna blandit hendrerit. Suspendisse facilisis congue imperdiet. 
								Phasellus urna quam, consequat at elementum et, varius ut leo. Aenean mollis laoreet justo.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/3.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales.
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit. 
								Suspendisse potenti. Vestibulum quis erat et mi pellentesque feugiat vitae ut ligula. Donec eu metus et turpis tristique 
								condimentum. Aenean porta nibh eget magna blandit hendrerit. Suspendisse facilisis congue imperdiet.sellus urna quam, consequat at elementum et, varius ut leo. Aenean mollis laoreet justo.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
								<ul id="like_but">
									<li class="like_buttons_design">
										<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
											Like
										</a>
									</li>
									<li class="like_buttons_design">
										<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
											Comment
										</a>
									</li>
									<li class="like_buttons_design">
										<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
											Copy
										</a>
									</li>
								</ul>
							</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/2.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> 
								tristique condimentum. Aenean porta nibh eget magna blandit hendrerit. 
							    Suspendisse facilisis congue imperdiet.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
								<ul id="like_but">
									<li class="like_buttons_design">
										<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
											Like
										</a>
									</li>
									<li class="like_buttons_design">
										<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
											Comment
										</a>
									</li>
									<li class="like_buttons_design">
										<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
											Copy
										</a>
									</li>
								</ul>
							</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/1.jpg" alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p> 
								eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit. 
								Suspendisse potenti. Vestibulum quis erat et mi pellentesque feugiat vitae ut ligula. Donec eu metus et turpis 
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p>
								em ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p>
								em ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p>
								em ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p>
								em ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
					<div class="post">
						<div class="like_buttons">
							<ul id="like_but">
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/like.png" alt="like" class="like_img">
										Like
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/comment.png" alt="comment" class="like_img">
										Comment
									</a>
								</li>
								<li class="like_buttons_design">
									<a href="#"><img src="/static/images/copy.png" alt="copy" class="like_img">
										Copy
									</a>
								</li>
							</ul>
						</div>
						<div class="clip">
							<a href="#">
								<img src="/static/tmp/images/4.jpg"  alt="green" class="clip_img">
							</a>
						</div>
						<div class="clip_comments">
							<p>
								em ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sit amet massa eu mauris accumsan sodales. 
								Vestibulum eleifend tincidunt ullamcorper. Nullam molestie arcu non quam viverra quis consequat ipsum hendrerit.
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$('img').load(function(){
					$(".content_photo").masonry();
				});
				$(".content_photo").masonry();
							
			});
		</script>
	</body>
{% include "footer.html" %}
